<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.aecc.superdiary" >

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission." />

    <application
        android:name=".presentation.AndroidApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/DiaryTheme" >
        <activity
            android:name=".presentation.view.activity.Principal"
            android:label="@string/app_name"
            android:theme="@style/DiaryTheme" />
        <activity
            android:name=".presentation.view.activity.PersonajesActivity"
            android:label="Personajes"
            android:theme="@style/DiaryTheme" />
        <activity
            android:name=".presentation.view.activity.PersonajesDetailsActivity"
            android:label="Detalle de Personaje"
            android:theme="@style/DiaryTheme" />
        <activity
            android:name=".presentation.view.activity.SplashScreenActivity"
            android:label="@string/app_name"
            android:theme="@style/DiaryTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.view.activity.BienvenidaActivity"
            android:label="@string/title_activity_bienvenida"
            android:theme="@style/DiaryTheme" />
        <activity
            android:name=".presentation.view.activity.Citas"
            android:label="@string/title_activity_citas"
            android:theme="@style/DiaryTheme" />

        <activity
            android:name=".presentation.view.activity.CitasActivity"
            android:label="@string/title_activity_citas"
            android:theme="@style/DiaryTheme" />

        <activity
            android:name=".presentation.view.activity.CitasDetailsActivity"
            android:label="@string/title_activity_citas"
            android:theme="@style/DiaryTheme" />

        <activity
            android:name=".presentation.view.activity.CitaNoEditActivity"
            android:label="@string/title_activity_citas"
            android:theme="@style/DiaryTheme" />

        <activity
            android:name=".presentation.view.activity.CitaAddActivity"
            android:label="@string/title_activity_citas"
            android:theme="@style/DiaryTheme" />

        <activity
            android:name=".presentation.view.activity.Otros"
            android:label="@string/title_activity_otros"
            android:theme="@style/DiaryTheme" />
        <activity
            android:name=".presentation.view.activity.Calendario"
            android:label="@string/title_activity_calendario"
            android:theme="@style/DiaryTheme" />
        <activity
            android:name=".presentation.view.activity.Personaje"
            android:label="@string/title_activity_personaje"
            android:theme="@style/DiaryTheme" />
        <activity
            android:name=".presentation.view.activity.RecursosActivity"
            android:label="@string/title_activity_recursos"
            android:theme="@style/DiaryTheme" >
        </activity>
        <activity
            android:name=".presentation.view.activity.Cita"
            android:label="@string/title_activity_cita" >
        </activity>
        <activity
            android:name=".presentation.view.activity.Rutina"
            android:label="@string/title_activity_rutina" >
        </activity>
        <activity
            android:name=".presentation.view.activity.RutinasActivity"
            android:label="@string/title_activity_rutina" >
        </activity>
        <activity
            android:name=".presentation.view.activity.RutinasDetailsActivity"
            android:label="@string/title_activity_rutina" >
        </activity>
        <activity
            android:name=".presentation.view.activity.RutinaDeleteActivity"
            android:label="@string/title_activity_rutina" >
        </activity>
        <activity
            android:name=".presentation.view.activity.RutinaEditActivity"
            android:label="@string/title_activity_rutina" >
        </activity>
        <activity
            android:name=".presentation.view.activity.MedicamentosActivity"
            android:label="@string/title_activity_medicamento" >
        </activity>
        <activity
            android:name=".presentation.view.activity.MedicamentosDetailsActivity"
            android:label="@string/title_activity_medicamento" >
        </activity>
        <activity
            android:name=".presentation.view.activity.MedicamentoDeleteActivity"
            android:label="@string/title_activity_medicamento" >
        </activity>
        <activity
            android:name=".presentation.view.activity.MedicamentoEditActivity"
            android:label="@string/title_activity_medicamento" >
        </activity>
        <activity
            android:name=".presentation.view.activity.PruebasActivity"
            android:label="@string/title_activity_prueba" >
        </activity>
        <activity
            android:name=".presentation.view.activity.PruebasDetailsActivity"
            android:label="@string/title_activity_prueba" >
        </activity>
        <activity
            android:name=".presentation.view.activity.PruebaDeleteActivity"
            android:label="@string/title_activity_prueba" >
        </activity>
        <activity
            android:name=".presentation.view.activity.PruebaEditActivity"
            android:label="@string/title_activity_prueba" >
        </activity>
        <activity
            android:name=".presentation.view.activity.SintomasActivity"
            android:label="@string/title_activity_sintoma" >
        </activity>
        <activity
            android:name=".presentation.view.activity.SintomasDetailsActivity"
            android:label="@string/title_activity_sintoma" >
        </activity>
        <activity
            android:name=".presentation.view.activity.SintomaDeleteActivity"
            android:label="@string/title_activity_sintoma" >
        </activity>
        <activity
            android:name=".presentation.view.activity.SintomaEditActivity"
            android:label="@string/title_activity_sintoma" >
        </activity>
        <activity
            android:name=".presentation.view.activity.Medicamento"
            android:label="@string/title_activity_medicamento" >
        </activity>
        <activity
            android:name=".presentation.view.activity.Sintoma"
            android:label="@string/title_activity_sintoma" >
        </activity>
        <activity
            android:name=".presentation.view.activity.Prueba"
            android:label="@string/title_activity_prueba" >
        </activity>

        <service android:name=".presentation.view.activity.service.ScheduleService" />
        <service android:name=".presentation.view.activity.service.NotifyService" />

        <activity
            android:name=".presentation.view.activity.Rutinas"
            android:label="@string/title_activity_rutinas" >
        </activity>

    </application>

</manifest>
